*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
}

main{
    background: #f3f4f7;
    width: 30rem;
    height: 33rem;
    border-radius: 1rem;
    border: .5px solid black;
    position: relative;
    overflow: hidden;
}

.alert{
    background: #b9df90;
    border-radius: 1rem 1rem 0 0 ;
    position: absolute;
    padding: 1.36rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    display:flex;

    align-items: center;
    width: 100%;
}

.alert .fa-check{
    color: #508649;
}

.msg{
    margin-left: 1rem;
    color: #508649;
}

.close-btn{
    border-radius: 0 1rem 0 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.36rem;
    padding-top: 1.6rem;
    color: #508649;
    cursor: pointer;
}

.fa-times{
    padding-bottom: 0;
}

.close-btn:hover{
    opacity: 0.5;
    background: #508649;
    color:black;
}

.hide{
    display: none;
}

.alert.show{
    animation: show_slide .5s ease forwards;
}

@keyframes show_slide{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

header{
    text-align:center;
    background: #d02f2e;
    color: white;
    border-radius: 1rem 1rem 0 0 ;
}

#logo{
    padding: 1rem;
    font-size: 2rem;
}

#title{
    padding: 1rem .5rem 1rem 5rem;
    font-size: 1.4rem;
    text-align: center; 
}

#pwd-input{
    display: grid;
    grid-template-columns: 3.7rem 3.7rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 1.6rem;
    grid-template-rows: 3.5rem;
    background: #f3f4f7;
}

#rand-pass{
    grid-column: 1 / 8;
    border: none;
    padding: 1rem;
    padding-left:1.2rem;
    background: #f3f4f7;
    font-size: 1.4rem;
    
    outline:none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    color: blue;
}

#pwd-gen-icon, #copy-icon{
    grid-column: span 1;
    padding: 1.2rem;
    padding-top: 1.4rem;
    cursor:pointer;
}

.divider{
    border: 1px solid #e2e2e2;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
    
}
#pwd-strength{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: .8rem;
    padding-top: 0rem;
    background: #f3f4f7;
}

.strength{
    width:5.3rem;
    height: .5rem;
    background: #dddfe2;
    border-radius: 1rem;
}

#history{
    padding: .8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

#show-history{
    border:none;
}

.options{
    display: flex;
    padding: 1rem;
    background-color: #ffffff;
}

.constraint1{
    flex:1;
    border-right: 1px solid #e7e7e7;
}


#pwd-length{
    padding:1rem 1rem 0rem 1rem;
}

#radio-select{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1rem 10rem;
    row-gap: 1rem;
    column-gap: 2rem;
    align-items: center;
}
.constraint2{
    padding: 1rem;
    flex:1;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

#characterAmountNumber{
    margin-right: .5rem;
    
    outline:0;
    border:none;
    border-bottom: 1px solid #E7E7E7;

}

#generate-copy{
    display:flex;
    justify-content: space-evenly;
}

#generate-btn{
    padding:1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #f3f4f7;
}

#generate{
    color:#ffffff;
    padding:.5rem;
    font-size: 1rem;
    background: #d12f2e;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#generate:focus{
    outline: 0;
}

#copy-btn{
    padding:1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #f3f4f7;
}

#copy{
    color:#ffffff;
    padding:.5rem;
    font-size: 1rem;
    background: #d12f2e;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#copy:focus{
    outline:0;
}

.reed{
    color: red;
}

.blaaack{
    color: black;
}