*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
}


.container{
    
    
}

.logo-title-div{
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 1rem 1rem 0 0;
    width:30rem;
    height:4rem;
    background: #d12f2e;
}

.logo, .title{
    width: 30rem;
    height: 4rem;
}

.logo{
    font-size: 2.5rem;
    color: white;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.title{
    font-size: 1.6rem;
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
}

.title p{
    text-align: center;
}

.maindiv{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 1rem 1rem;
    width:30rem;
    height:26rem;
    background: white;
}

.pwd-copy-gen{
    display: flex;
    width: 29.8rem;
    height: 4rem;
    border: none;
    background-color: #f3f4f7;
}

#rand-pass{
    text-align: center;
    font-size: 1.5rem;
    min-width: 23rem;
    max-width: 23rem;
    max-height: 3rem;
    white-space: nowrap;
    overflow: auto;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-right: 1rem;
    border:none;
    background-color: #f3f4f7

    /* border: 1px solid black;
    border-radius:2rem; */
}

hr{
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #d12f2e;
}

#copy{
    font-size: 1.5rem;
    padding: .5rem;
    margin-top: .75rem;
}

#generate{
    font-size: 1.5rem;
    padding: .5rem;
    margin-top: .75rem;
}

.pwd-strength{
    
}

.history{
    padding: 1rem;
    margin-left: 20rem;
}

a{
    color: #636d73;
    text-decoration: none;
}

.options{
    display: flex;
    padding: 1rem;
    background-color: #ffffff;
}

.constraint1{
    flex:1;
    border-right: 1px solid #e7e7e7;
}


#pwd-length{
    padding:1rem 1rem 0rem 1rem;
}

#radio-select{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1rem 10rem;
    row-gap: 1rem;
    column-gap: 2rem;
    align-items: center;
}
.constraint2{
    padding: 1rem;
    flex:1;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.copy-btn{
    padding:1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #f3f4f7;
}

.copy-btn button{
    color:#ffffff;
    margin-left: 18rem;
    padding:.5rem;
    font-size: 1rem;
    background: #d12f2e;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.copy-btn button:focus{outline:0;}



#rand-pass:focus{outline:0}

.character-amount-container{
    display: flex;
    align-items:center;
}

#characterAmountNumber{
    margin-right: .5rem;
    
    outline:0;
    border:none;
    border-bottom: 1px solid #E7E7E7;

}

